$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
$spacer: 1rem;
$letterSpacing : $spacer*0.14;

@mixin botPicBorder {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid $primary;
    border-right: 3px solid $primary;
}

@mixin topPicBorder {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-top: 3px solid $primary;
    border-left: 3px solid $primary;
}

@mixin linkHover {
    opacity: 0.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

::after,
::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "poppins", sans-serif;
    line-height: 1.5;

    a {
        text-decoration: none;
    }

    nav {
        ul {
            padding: 0;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: $spacer*2;
                padding-bottom: $spacer*0.5;

                i {
                    text-align: center;
                    margin-right: 2vw;
                }

                a {
                    font-size: 16px;
                    color: black;

                    &:hover {
                        @include linkHover();
                    }
                }

                a.active {
                    color: $primary;
                }
            }
        }
    }

    ////////Side Bar//////////////
    .sideBar {
        height: 100vh;

        .title {
            position: relative;
            font-size: 38px;
            margin: $spacer*3 0 $spacer*4;
            padding: $spacer;
            font-weight: bolder;
            letter-spacing: $spacer*0.14;

            &::after {
                @include topPicBorder();
            }

            &::before {
                @include botPicBorder();
            }

            .logo {
                font-family: "Clicker Script";
                font-weight: bold;
                font-size: 40px;
            }
        }
    }

    /////////End Side Bar////////
    ////////Start Content////////
    .hidden {
        display: none;
    }

    .home {
        padding-top: $spacer*3;

        .row {
            display: flex;
            justify-content: center;
            align-items: center;

            .info {
                font-weight: bold;

                .title {
                    .name {
                        color: $primary;
                        font-family: "Clicker Script";
                        font-weight: bold;
                        letter-spacing: $letterSpacing;
                    }
                }

                .job {
                    padding-top: $spacer*1.5;
                    margin-bottom: $spacer*1.5;

                    .typing {
                        color: $primary;
                        font-weight: bolder;
                    }
                }

                .details {
                    font-weight: normal;
                    line-height: $spacer*2;
                    font-size: 14px;
                }

                a {
                    margin-top: $spacer*3;
                    background-color: $primary;
                    color: $light;

                    &:hover {
                        @include linkHover();
                    }
                }
            }

            .pic {
                .imageHolder {
                    margin: 0;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        top: -30px;
                        right: 5px;
                        width: 100px;
                        height: 100px;
                        border-top: 8px solid $primary;
                        border-right: 8px solid $primary;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        bottom: -30px;
                        left: 5px;
                        width: 100px;
                        height: 100px;
                        border-bottom: 8px solid $primary;
                        border-left: 8px solid $primary;
                    }

                    img {
                        width: 80%;
                        display: inline-block;
                    }
                }
            }
        }
    }

    /////End of Home Page////
    /// Start of About Page///
    .about {
        .title {
            position: relative;

            .underline {
                display: inline-block;
                position: absolute;
                width: 70px;
                height: 3px;
                background-color: $primary;
                bottom: -10px;
                left: 13px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 3px;
                background-color: $primary;
                bottom: -17px;
                left: 13px;
            }
        }

        .name {
            letter-spacing: normal;

            .colored {
                color: $primary;
            }
        }

        .info {
            letter-spacing: $letterSpacing;
            font-size: 15px;

            a {
                color: $primary;
            }
        }

        .details {
            .info {
                letter-spacing: normal;
                font-size: 14px;
                font-weight: bold;
                border-bottom: 1px solid $gray-400;
                margin-bottom: $spacer;

                p {
                    font-weight: normal;
                    display: inline-block;
                }

            }

            button {
                background-color: $primary;
                color: $light;
            }
        }

        .language {
            margin-bottom: $spacer*1.5;
            font-weight: bold;
            position: relative;

            .precnt {
                font-weight: normal;
                position: absolute;
                right: 0;
            }

            .meter {
                display: inline-block;
                width: 100%;
                height: 4px;
                background-color: $gray-400;
                position: relative;

                // &::after {
                //     position: absolute;
                //     content: "";
                //     height: 4px;
                //     width: 30%;
                //     background-color: $primary;
                // }
                .color {
                    display: inline-block;
                    height: 4px;
                    background-color: $primary;
                    position: absolute;
                    animation: fill 3s ease 0.5s;
                }
            }
        }
    }

    /// End of About Page///
}