$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
$spacer: 1rem;
$letterSpacing : $spacer*0.14;
$fontSize : 1rem;
@mixin botPicBorder {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid $primary;
    border-right: 3px solid $primary;
}

@mixin topPicBorder {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-top: 3px solid $primary;
    border-left: 3px solid $primary;
}

@mixin linkHover {
    opacity: 0.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

::after,
::before {
    box-sizing: border-box;
}

.btn{
    margin-bottom: $spacer*3;
}
html{
    scroll-behavior: smooth;
}
.darkMode{
    background-color: $dark;
    color: $light !important;
    .bg-white{
        background-color: $black !important;
    }
    .bg-secondary-subtle{
        background-color: $dark !important;
    }
    a{
        color: $light;
    }
    .card{
        background-color: $black !important;
        color: $light;
    }
    input{
        background-color: black;
        color: $light;
    }
}


body {
     font-size: $fontSize;
    font-family: "poppins", sans-serif;
    line-height: 1.5rem;
    word-spacing: normal;
    transition: all 0.5s ease;
    a {
        text-decoration: none;
    }
    nav {
        ul {
            padding: 0;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: $spacer*2;
                padding-bottom: $spacer*0.5;

                i {
                    text-align: center;
                    margin-right: 2vw;
                }

                a {
                    font-size: $fontSize;
                    color: $dark;

                    &:hover {
                        @include linkHover();
                    }
                }

                a.active {
                    color: $primary;
                }
            }
        }
    }

    ////////Side Bar//////////////
    .appear{
        position: fixed !important;
        background-color: rgba(255,255,255,0.9) !important;
        z-index: 10;
        top: 0;
        left: 0;
    }
    .sideBar {
        min-height: 100vh;
        position: relative;
        transition: all 0.5s ease;
        .title {
            position: relative;
            font-size: $fontSize*2;
            margin: $spacer*3 0 $spacer*4;
            padding: $spacer;
            font-weight: bolder;
            letter-spacing: $spacer*0.14;

            &::after {
                @include topPicBorder();
            }

            &::before {
                @include botPicBorder();
            }

            .logo {
                font-family: "Clicker Script";
                font-weight: bold;
                font-size: $fontSize*3;
                color: $primary;
            }
        }
    }

    /////////End Side Bar////////
    ////////Start Content////////
    .option{
        width: 15px;
        height: 3px;
        background-color: $gray-400;
        position: fixed;
        top: 4%;
        left: 4%;
        padding: $spacer*1;
        border-radius: 3px;
        cursor: pointer;
        z-index: 5;
        display: none;
        .line{
            display: inline-block;
            width: 60%;
            height: 2px;
            background-color: $primary;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &::before{
            position: absolute;
            content: "";
            background-color: $primary;
            width: 60%;
            height: 2px;
            top: 35%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &::after{
            position: absolute;
            content: "";
            background-color: $primary;
            width: 60%;
            height: 2px;
            top: 65%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .color-switcher{
        .options{
            .dark{
                display: inline-block;
                width: 15px;
                height: 3px;
                background-color: $gray-400;
                position: fixed;
                top: 4%;
                right: 4%;
                padding: $spacer*1;
                border-radius: 50%;
                cursor: pointer;
                z-index: 5;
                transition: all 0.3s ease;
                i{
                    display: inline-block;
                    position: absolute;
                    color: $dark;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            .left{
                right: 10% !important;
            }
            .color{
                display: inline-block;
                width: 15px;
                height: 3px;
                background-color: $gray-400;
                position: fixed;
                top: 4%;
                right: 4%;
                padding: $spacer*1;
                border-radius: 50%;
                cursor: pointer;
                z-index: 5;
                transition: all 0.3s ease;
                i{
                    display: inline-block;
                    position: absolute;
                    color: $dark;
                    top: 25%;
                    left: 25%;
                    transform: translate(-50%,-50%);
                    animation: rotation 3s ease 0.1s infinite;
                    @keyframes rotation {
                        from {transform: rotate(0deg);}
                        to {transform: rotate(360deg);}
                    }
                }
            }
        }
        .open{
            right: 0 !important;
            .dark,.color{
                right: 8%;
            }
        }
        .select{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 140px;
            height: 60px;
            padding: 10px;
            background-color: $gray-400;
            top: 5%;
            right: -50%;
            border-radius: 3px;
            transition: all 0.3s ease;
            z-index: 5;
            span{
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: $primary;
                border-radius: 50px;
                margin-right: 5px;
                cursor: pointer;
            }

        }
    }
    .home {
        // padding-top: $spacer*3;
        // padding-bottom: 0 !important;
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .info {
                font-weight: bold;

                .title {
                    .name {
                        color: $primary;
                        font-family: "Clicker Script";
                        font-weight: bold;
                        letter-spacing: $letterSpacing;
                    }
                }

                .job {
                    padding-top: $spacer*1.5;
                    margin-bottom: $spacer*1.5;

                    .typing {
                        color: $primary;
                        font-weight: bolder;
                    }
                }

                .details {
                    font-weight: normal;
                    line-height: $spacer*2;
                    font-size: $fontSize*0.9;
                    margin-bottom: $spacer*3;
                }

                a {
                    background-color: $primary;
                    color: $light;

                    &:hover {
                        @include linkHover();
                    }
                }
            }

            .pic {
                .imageHolder {
                    margin: 0;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        top: -30px;
                        right: 5px;
                        width: 100px;
                        height: 100px;
                        border-top: 8px solid $primary;
                        border-right: 8px solid $primary;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        bottom: -30px;
                        left: 5px;
                        width: 100px;
                        height: 100px;
                        border-bottom: 8px solid $primary;
                        border-left: 8px solid $primary;
                    }

                    img {
                        width: 80%;
                        display: inline-block;
                    }
                }
            }
        }
    }

    /////End of Home Page////
    /// Start of About Page///
    .about {
        .title {
            position: relative;

            .underline {
                display: inline-block;
                position: absolute;
                width: 70px;
                height: 3px;
                background-color: $primary;
                bottom: -10px;
                left: 13px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 3px;
                background-color: $primary;
                bottom: -17px;
                left: 13px;
            }
        }

        .name {
            letter-spacing: normal;

            .colored {
                color: $primary;
            }
        }

        .info {
            font-size: $fontSize*0.9;

            a {
                color: $primary;
            }
        }

        .details {
            .info {
                letter-spacing: normal;
                font-size: $fontSize*0.9;
                font-weight: bold;
                border-bottom: 1px solid $gray-400;
                margin-bottom: $spacer;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                @media screen and (max-width: 576px){ 
                    font-size: $fontSize*0.7;
                    text-overflow: initial;
                }

                p {
                    font-weight: normal;
                    display: inline-block;
                    @media screen and (max-width: 576px) {
                        display: block;
                    }
                }

            }

            button {
                background-color: $primary;
                color: $light;
            }
        }

        .language {
            margin-bottom: $spacer*1.5;
            font-weight: bold;
            position: relative;

            .precnt {
                font-weight: normal;
                position: absolute;
                right: 0;
            }

            .meter {
                display: inline-block;
                width: 100%;
                height: 4px;
                background-color: $gray-400;
                position: relative;

                // &::after {
                //     position: absolute;
                //     content: "";
                //     height: 4px;
                //     width: 30%;
                //     background-color: $primary;
                // }
                .color {
                    display: inline-block;
                    height: 4px;
                    background-color: $primary;
                    position: absolute;
                }
            }
        }
        .card{
            font-size: $fontSize*0.9;
            padding: $spacer*1.5;
            box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
            margin-bottom: $spacer*3;
            padding-left: $spacer*3;
            &::before{
                position: absolute;
                content: "";
                background-color: $primary;
                height: 85%;
                width: 2px;
                top: 50px;
                left: 27px;
                z-index: 0;
            }
            .period{
                margin-top: $spacer;
                position: relative;
                .circle{
                    width: 15px;
                    position: absolute;
                    height:15px;
                    border-radius: 50%;
                    background-color: $primary;
                    top: 6px;
                    left: -27px;
                    z-index: 1;
                }

                .date{
                    font-weight: 300;
                    color: $gray-600;
                    font-size: $fontSize*0.9;
                    i{
                        margin-right: $spacer;
                        font-weight: 300;
                    }
                }
                h5{
                    margin-top: $spacer;
                    margin-bottom: $spacer*1.5;
                }
                p{
                    color: $gray-600;
                }
            
            }
        }
    }

    /// End of About Page///
    /// Start of Services Page///
        .services{
            .title {
                position: relative;
    
                .underline {
                    display: inline-block;
                    position: absolute;
                    width: 70px;
                    height: 3px;
                    background-color: $primary;
                    bottom: -10px;
                    left: 13px;
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    width: 40px;
                    height: 3px;
                    background-color: $primary;
                    bottom: -17px;
                    left: 13px;
                }
            }
            .card{
                margin-bottom: $spacer*2;
            .icon{
                margin-top: $spacer*1.5;
                font-size: $fontSize*2;
                border-radius: 50%;    
                width: 80px;
                height: 80px;   
                display: flex;
                justify-content:center;
                align-items: center;
                transition: all 0.5 ease;
                &:hover{
                    background-color: $primary;         
                    i{
                        color: $light;
                        font-size: $fontSize*2;
                    }
                }
                i{
                    color: $primary;
                    font-size: $fontSize*3;
                    z-index: 5;
                }
                // &::before{
                //     content: "";
                //     position: absolute;
                //     top: 50%;
                //     left: 50%;
                //     transform: translate(-50%,-50%);
                //     width: 150%;
                //     height: 150%;
                //     background-color: $primary;
                //     border-radius: 50%;
                //     z-index: 0;
                //     display: none;
                // }
                // &:hover{

                // }
            }
            h5{

                margin-top: $spacer*3;
                margin-bottom: $spacer*1.5;
            }
        }
        }
    /// End of Services Page///
    /// Start of Portfolio Page///
    .portfolio{
        .title {
            position: relative;

            .underline {
                display: inline-block;
                position: absolute;
                width: 70px;
                height: 3px;
                background-color: $primary;
                bottom: -10px;
                left: 13px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 3px;
                background-color: $primary;
                bottom: -17px;
                left: 13px;
            }
        }
        .My{
            margin-top: $spacer*3;
            margin-bottom: $spacer*3;
        }
        .imageHolder{
            margin-bottom: $spacer*2;
            overflow: hidden;
            height: 40vh;
            border: 1px solid $gray-500;
            display: flex;
            justify-content: center;
            border-radius: 3px;
            box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
            image{
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center bottom;
            }
        }
    }
    /// End of Portfolio Page///
    /// Start of Contact Page///
    .contact{
        .title {
            position: relative;

            .underline {
                display: inline-block;
                position: absolute;
                width: 70px;
                height: 3px;
                background-color: $primary;
                bottom: -10px;
                left: 13px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 3px;
                background-color: $primary;
                bottom: -17px;
                left: 13px;
            }
        }
        .question{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: $spacer*2;
            margin-bottom: $spacer*2;
            font-weight: bold;
            text-transform: uppercase;
            h3{
                color: $primary;
            }
            p{
                margin-top: $spacer;
            }
        }
        .tele{
            .group{
                i{
                    margin-bottom: $spacer;
                    color: $primary;
                    font-size: $fontSize*1.5;
                }
                h6{
                    font-weight: bold;
                }
            }
        }
        form{
            input{
                margin-bottom: $spacer;
                border: none;
                border-radius: 4px;
                padding: $spacer*0.5;
                &:last-of-type{
                    padding-bottom: $spacer*5;
                }
            }
            .btn{
                background-color: $primary;
                color: $light;
            }
        }
    }
    /// End of Contact Page///
    /// Stop Scrolling ///
    // section.container-fluid{
    //     // section.row{
    //     //     height: 100vh;
    //     //     overflow-y: auto;
    //     //     overflow-x: hidden;
    //     //     transition: all 0.5sec ease;
    //     //     top: 0;
    //     //     right: 0;
    //     //     left: 400px;
    //     //     bottom: 0;
    //     // }
    //     // section.active{
    //     //     top: 0;
    //     //     right: 0;
    //     //     left: 400px;
    //     //     bottom: 0;
    //     //     margin-top: 0 !important;
    //     // }
    //     // section.{
            
    //     // }
    // }
     @media screen and (max-width: 576px) {
        $spacer : 0.7rem;
        $fontSize: 0.7rem;
        .row{
            
            .option{
                display: inline-block;
            }
            .home{
                margin-top: $spacer;
                .info{
                    text-align: center;
                }
            }
        }
      }
      .orange{
        $primary : orange !important;
    }
    .red{   
        $primary : red !important;
    }
    .violet{
        $primary : violet !important;
    }
    .green{
        $primary : green !important;
    }
}